# ==============================================
# Database Configuration
# ==============================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=docker
DB_PASSWORD=docker
DB_NAME=music_maniacs_backend_development
DB_NAME_TEST=music_maniacs_backend_test
DB_CONTAINER_NAME=musicmaniacs-db-1

# ==============================================
# Redis Configuration
# ==============================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1
REDIS_URL=redis://localhost:6379/1

# ==============================================
# Devise JWT Secret Key
# ==============================================
DEVISE_SECRET_KEY=your_secret_key_here

# ==============================================
# Server & Frontend Configuration
# ==============================================
PORT=3000
REACT_HOST=http://localhost:3001
API_HOST=http://localhost:3000
ALLOWED_HOSTS=localhost,127.0.0.1,.yourdomain.com

# ==============================================
# Rails Environment & Server Tuning
# ==============================================
RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=5
PIDFILE=tmp/pids/server.pid
THOR_SILENCE_DEPRECATION=1

# ==============================================
# Backup & Storage Configuration
# ==============================================
BACKUP_DIR=~/backups/mm_backup
BACKUP_STORE_PATH=~/backups/
MULTIMEDIA_DIR=./storage
